


<h1>Home</h1>

<div style="display: inline-block;">
<h3>Users</h3>
<ul>
<% @users.each do |user| %>
<li>
<%= user.name %> <br>
<%= user.email %>
</li><br>
<% end %>
</ul>

<%= link_to "Create new user", new_user_path %>
</div>

<div style="display: inline-block;">
<h3>Products</h3>
<ul>
<% @products.each do |product| %>
<li>
<%= product.title %> <br>
<%= product.description %>
</li><br>
<% end %>
</ul>

</div>