<h2><%= @concert.artist %> </h2>
<h3> <%= @concert.venue %>, <%= @concert.date %> </h3>
<p><%= @concert.description %> </p>
 <%= link_to 'Add Comment', new_concert_comment_path(@concert) %>
<div class="comments">
<% @comments.each do |comment| %>
<p><%= comment.content %></p>
<p><%= comment.name %> </p>
<% end %>
	
</div>