<!DOCTYPE html>
<html>
  <head>
    <title>Timetracking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  	<h1><a href="/">Time tracking</a></h1>

  	<%= render "snippet/navigation" %>
 

  </header>
    <%= yield %>

    <footer>
    	<center>
    		<p>Made with &hearts; at Ironhack</p>
 
    	</center>
    </footer>
  </body>
</html>
